<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.basicinfo.mapper.InventoryExtradefineMapper">
  <resultMap id="BaseResultMap" type="com.web.basicinfo.entity.InventoryExtradefine">
    <!--@mbg.generated-->
    <!--@Table Inventory_extradefine-->
    <id column="cInvCode" jdbcType="VARCHAR" property="cinvcode" />
    <result column="cidefine1" jdbcType="VARCHAR" property="cidefine1" />
  </resultMap>


</mapper>