<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.basicinfo.mapper.InventorySubMapper">
  <resultMap id="BaseResultMap" type="com.web.basicinfo.entity.InventorySub">
    <!--@mbg.generated-->
    <!--@Table Inventory_Sub-->
    <id column="cInvSubCode" jdbcType="VARCHAR" property="cinvsubcode" />
    <result column="fBuyExcess" jdbcType="FLOAT" property="fbuyexcess" />
    <result column="iSurenessType" jdbcType="SMALLINT" property="isurenesstype" />
    <result column="iDateType" jdbcType="SMALLINT" property="idatetype" />
    <result column="iDateSum" jdbcType="INTEGER" property="idatesum" />
    <result column="iDynamicSurenessType" jdbcType="SMALLINT" property="idynamicsurenesstype" />
    <result column="iBestrowSum" jdbcType="FLOAT" property="ibestrowsum" />
    <result column="iPercentumSum" jdbcType="FLOAT" property="ipercentumsum" />
    <result column="bIsAttachFile" jdbcType="BIT" property="bisattachfile" />
    <result column="bInByProCheck" jdbcType="BIT" property="binbyprocheck" />
    <result column="iRequireTrackStyle" jdbcType="SMALLINT" property="irequiretrackstyle" />
    <result column="iExpiratDateCalcu" jdbcType="SMALLINT" property="iexpiratdatecalcu" />
    <result column="iBOMExpandUnitType" jdbcType="SMALLINT" property="ibomexpandunittype" />
    <result column="bPurPriceFree1" jdbcType="BIT" property="bpurpricefree1" />
    <result column="bPurPriceFree2" jdbcType="BIT" property="bpurpricefree2" />
    <result column="bPurPriceFree3" jdbcType="BIT" property="bpurpricefree3" />
    <result column="bPurPriceFree4" jdbcType="BIT" property="bpurpricefree4" />
    <result column="bPurPriceFree5" jdbcType="BIT" property="bpurpricefree5" />
    <result column="bPurPriceFree6" jdbcType="BIT" property="bpurpricefree6" />
    <result column="bPurPriceFree7" jdbcType="BIT" property="bpurpricefree7" />
    <result column="bPurPriceFree8" jdbcType="BIT" property="bpurpricefree8" />
    <result column="bPurPriceFree9" jdbcType="BIT" property="bpurpricefree9" />
    <result column="bPurPriceFree10" jdbcType="BIT" property="bpurpricefree10" />
    <result column="bOMPriceFree1" jdbcType="BIT" property="bompricefree1" />
    <result column="bOMPriceFree2" jdbcType="BIT" property="bompricefree2" />
    <result column="bOMPriceFree3" jdbcType="BIT" property="bompricefree3" />
    <result column="bOMPriceFree4" jdbcType="BIT" property="bompricefree4" />
    <result column="bOMPriceFree5" jdbcType="BIT" property="bompricefree5" />
    <result column="bOMPriceFree6" jdbcType="BIT" property="bompricefree6" />
    <result column="bOMPriceFree7" jdbcType="BIT" property="bompricefree7" />
    <result column="bOMPriceFree8" jdbcType="BIT" property="bompricefree8" />
    <result column="bOMPriceFree9" jdbcType="BIT" property="bompricefree9" />
    <result column="bOMPriceFree10" jdbcType="BIT" property="bompricefree10" />
    <result column="bSalePriceFree1" jdbcType="BIT" property="bsalepricefree1" />
    <result column="bSalePriceFree2" jdbcType="BIT" property="bsalepricefree2" />
    <result column="bSalePriceFree3" jdbcType="BIT" property="bsalepricefree3" />
    <result column="bSalePriceFree4" jdbcType="BIT" property="bsalepricefree4" />
    <result column="bSalePriceFree5" jdbcType="BIT" property="bsalepricefree5" />
    <result column="bSalePriceFree6" jdbcType="BIT" property="bsalepricefree6" />
    <result column="bSalePriceFree7" jdbcType="BIT" property="bsalepricefree7" />
    <result column="bSalePriceFree8" jdbcType="BIT" property="bsalepricefree8" />
    <result column="bSalePriceFree9" jdbcType="BIT" property="bsalepricefree9" />
    <result column="bSalePriceFree10" jdbcType="BIT" property="bsalepricefree10" />
    <result column="fInvOutUpLimit" jdbcType="FLOAT" property="finvoutuplimit" />
    <result column="bBondedInv" jdbcType="BIT" property="bbondedinv" />
    <result column="bBatchCreate" jdbcType="BIT" property="bbatchcreate" />
    <result column="bBatchProperty1" jdbcType="BIT" property="bbatchproperty1" />
    <result column="bBatchProperty2" jdbcType="BIT" property="bbatchproperty2" />
    <result column="bBatchProperty3" jdbcType="BIT" property="bbatchproperty3" />
    <result column="bBatchProperty4" jdbcType="BIT" property="bbatchproperty4" />
    <result column="bBatchProperty5" jdbcType="BIT" property="bbatchproperty5" />
    <result column="bBatchProperty6" jdbcType="BIT" property="bbatchproperty6" />
    <result column="bBatchProperty7" jdbcType="BIT" property="bbatchproperty7" />
    <result column="bBatchProperty8" jdbcType="BIT" property="bbatchproperty8" />
    <result column="bBatchProperty9" jdbcType="BIT" property="bbatchproperty9" />
    <result column="bBatchProperty10" jdbcType="BIT" property="bbatchproperty10" />
    <result column="bControlFreeRange1" jdbcType="BIT" property="bcontrolfreerange1" />
    <result column="bControlFreeRange2" jdbcType="BIT" property="bcontrolfreerange2" />
    <result column="bControlFreeRange3" jdbcType="BIT" property="bcontrolfreerange3" />
    <result column="bControlFreeRange4" jdbcType="BIT" property="bcontrolfreerange4" />
    <result column="bControlFreeRange5" jdbcType="BIT" property="bcontrolfreerange5" />
    <result column="bControlFreeRange6" jdbcType="BIT" property="bcontrolfreerange6" />
    <result column="bControlFreeRange7" jdbcType="BIT" property="bcontrolfreerange7" />
    <result column="bControlFreeRange8" jdbcType="BIT" property="bcontrolfreerange8" />
    <result column="bControlFreeRange9" jdbcType="BIT" property="bcontrolfreerange9" />
    <result column="bControlFreeRange10" jdbcType="BIT" property="bcontrolfreerange10" />
    <result column="fInvCIQExch" jdbcType="FLOAT" property="finvciqexch" />
    <result column="iWarrantyPeriod" jdbcType="INTEGER" property="iwarrantyperiod" />
    <result column="iWarrantyUnit" jdbcType="SMALLINT" property="iwarrantyunit" />
    <result column="bInvKeyPart" jdbcType="BIT" property="binvkeypart" />
    <result column="iAcceptEarlyDays" jdbcType="INTEGER" property="iacceptearlydays" />
    <result column="fProcessCost" jdbcType="FLOAT" property="fprocesscost" />
    <result column="fCurLLaborCost" jdbcType="FLOAT" property="fcurllaborcost" />
    <result column="fCurLVarManuCost" jdbcType="FLOAT" property="fcurlvarmanucost" />
    <result column="fCurLFixManuCost" jdbcType="FLOAT" property="fcurlfixmanucost" />
    <result column="fCurLOMCost" jdbcType="FLOAT" property="fcurlomcost" />
    <result column="fNextLLaborCost" jdbcType="FLOAT" property="fnextllaborcost" />
    <result column="fNextLVarManuCost" jdbcType="FLOAT" property="fnextlvarmanucost" />
    <result column="fNextLFixManuCost" jdbcType="FLOAT" property="fnextlfixmanucost" />
    <result column="fNextLOMCost" jdbcType="FLOAT" property="fnextlomcost" />
    <result column="dInvCreateDatetime" jdbcType="TIMESTAMP" property="dinvcreatedatetime" />
    <result column="cInvAppDocNo" jdbcType="VARCHAR" property="cinvappdocno" />
    <result column="bPUQuota" jdbcType="BIT" property="bpuquota" />
    <result column="bInvROHS" jdbcType="BIT" property="binvrohs" />
    <result column="bPrjMat" jdbcType="BIT" property="bprjmat" />
    <result column="fPrjMatLimit" jdbcType="DECIMAL" property="fprjmatlimit" />
    <result column="bInvAsset" jdbcType="BIT" property="binvasset" />
    <result column="bSrvProduct" jdbcType="BIT" property="bsrvproduct" />
    <result column="iAcceptDelayDays" jdbcType="INTEGER" property="iacceptdelaydays" />
    <result column="iPlanCheckDay" jdbcType="INTEGER" property="iplancheckday" />
    <result column="iMaterialsCycle" jdbcType="INTEGER" property="imaterialscycle" />
    <result column="iDrawType" jdbcType="SMALLINT" property="idrawtype" />
    <result column="bSCkeyProjections" jdbcType="BIT" property="bsckeyprojections" />
    <result column="iSupplyPeriodType" jdbcType="INTEGER" property="isupplyperiodtype" />
    <result column="iTimeBucketId" jdbcType="INTEGER" property="itimebucketid" />
    <result column="iAvailabilityDate" jdbcType="INTEGER" property="iavailabilitydate" />
    <result column="fMaterialCost" jdbcType="FLOAT" property="fmaterialcost" />
    <result column="bImport" jdbcType="BIT" property="bimport" />
    <result column="iNearRejectDays" jdbcType="INTEGER" property="inearrejectdays" />
    <result column="bCheckSubitemCost" jdbcType="BIT" property="bchecksubitemcost" />
    <result column="fRoundFactor" jdbcType="FLOAT" property="froundfactor" />
    <result column="bConsiderFreeStock" jdbcType="BIT" property="bconsiderfreestock" />
    <result column="bSuitRetail" jdbcType="BIT" property="bsuitretail" />
    <result column="bFeatureMatch" jdbcType="BIT" property="bfeaturematch" />
    <result column="bProduceByFeatureAllocate" jdbcType="BIT" property="bproducebyfeatureallocate" />
    <result column="bMaintenance" jdbcType="BIT" property="bmaintenance" />
    <result column="iMaintenanceCycle" jdbcType="INTEGER" property="imaintenancecycle" />
    <result column="iMaintenanceCycleUnit" jdbcType="SMALLINT" property="imaintenancecycleunit" />
    <result column="bCoupon" jdbcType="BIT" property="bcoupon" />
    <result column="bStoreCard" jdbcType="BIT" property="bstorecard" />
    <result column="bProcessProduct" jdbcType="BIT" property="bprocessproduct" />
    <result column="bProcessMaterial" jdbcType="BIT" property="bprocessmaterial" />
  </resultMap>

</mapper>