<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.om.mapper.OmOrderMaterialMapper">
  <resultMap id="BaseResultMap" type="com.web.om.entity.OmOrderMaterial">
    <!--@mbg.generated-->
    <!--@Table om_order_material-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="detail_id" jdbcType="VARCHAR" property="detailId" />
    <result column="part_id" jdbcType="VARCHAR" property="partId" />
    <result column="main_id" jdbcType="VARCHAR" property="mainId" />
    <result column="inv_code" jdbcType="VARCHAR" property="invCode" />
    <result column="inv_name" jdbcType="VARCHAR" property="invName" />
    <result column="inv_std" jdbcType="VARCHAR" property="invStd" />
    <result column="inv_unit" jdbcType="VARCHAR" property="invUnit" />
    <result column="unit_material_price" jdbcType="DECIMAL" property="unitMaterialPrice" />
    <result column="unit_material_amount" jdbcType="DECIMAL" property="unitMaterialAmount" />
    <result column="inv_land" jdbcType="VARCHAR" property="invLand" />
    <result column="inv_width" jdbcType="VARCHAR" property="invWidth" />
    <result column="inv_len" jdbcType="VARCHAR" property="invLen" />
    <result column="inv_external_diameter" jdbcType="VARCHAR" property="invExternalDiameter" />
    <result column="inv_internal_diameter" jdbcType="VARCHAR" property="invInternalDiameter" />
    <result column="inv_density" jdbcType="VARCHAR" property="invDensity" />
    <result column="inv_size" jdbcType="VARCHAR" property="invSize" />
    <result column="iqty" jdbcType="DECIMAL" property="iqty" />
    <result column="tqty" jdbcType="DECIMAL" property="tqty" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="iz_delete" jdbcType="INTEGER" property="izDelete" />
    <result column="delete_user" jdbcType="VARCHAR" property="deleteUser" />
    <result column="delete_date" jdbcType="TIMESTAMP" property="deleteDate" />
    <result column="itype" jdbcType="VARCHAR" property="itype" />
    <result column="u8_mo_material_id" jdbcType="INTEGER" property="u8MoMaterialId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, detail_id, part_id, main_id, inv_code, inv_name, inv_std, inv_unit, material_price,
    material_amount, inv_land, inv_width, inv_len, inv_external_diameter, inv_internal_diameter,
    inv_density, inv_size, iqty, tqty, create_user, create_date, update_user, update_date,
    iz_delete, delete_user, delete_date, itype, u8_mo_material_id
  </sql>

  <!--通过主键和数据库名称修改数据-->
  <update id="updateWithDBName">
    update ${database}.dbo.om_order_material
    <set>
      <if test="material.detailId != null and material.detailId != ''">
        detail_id = #{material.detailId},
      </if>
      <if test="material.partId != null and material.partId != ''">
        part_id = #{material.partId},
      </if>
      <if test="material.mainId != null and material.mainId != ''">
        main_id = #{material.mainId},
      </if>
      <if test="material.invCode != null and material.invCode != ''">
        inv_code = #{material.invCode},
      </if>
      <if test="material.invName != null and material.invName != ''">
        inv_name = #{material.invName},
      </if>
      <if test="material.unitMaterialPrice != null">
        unit_material_price = #{material.unitMaterialPrice},
      </if>
      <if test="material.unitMaterialAmount != null">
        unit_material_amount = #{material.unitMaterialAmount},
      </if>
      <if test="material.invLand != null and material.invLand != ''">
        inv_land = #{material.invLand},
      </if>
      <if test="material.invWidth != null and material.invWidth != ''">
        inv_width = #{material.invWidth},
      </if>
      <if test="material.invLen != null and material.invLen != ''">
        inv_len = #{material.invLen},
      </if>
      <if test="material.invExternalDiameter != null and material.invExternalDiameter != ''">
        inv_external_diameter = #{material.invExternalDiameter},
      </if>
      <if test="material.invInternalDiameter != null and material.invInternalDiameter != ''">
        inv_internal_diameter = #{material.invInternalDiameter},
      </if>
      <if test="material.invDensity != null and material.invDensity != ''">
        inv_density = #{material.invDensity},
      </if>
      <if test="material.invSize != null and material.invSize != ''">
        inv_size = #{material.invSize},
      </if>
      <if test="material.iqty != null">
        iqty = #{material.iqty},
      </if>
      <if test="material.tqty != null">
        tqty = #{material.tqty},
      </if>
      <if test="material.createUser != null and material.createUser != ''">
        create_user = #{material.createUser},
      </if>
      <if test="material.createDate != null">
        create_date = #{material.createDate},
      </if>
      <if test="material.updateUser != null and material.updateUser != ''">
        update_user = #{material.updateUser},
      </if>
      <if test="material.updateDate != null">
        update_date = #{material.updateDate},
      </if>
      <if test="material.izDelete != null">
        iz_delete = #{material.izDelete},
      </if>
      <if test="material.deleteUser != null and material.deleteUser != ''">
        delete_user = #{material.deleteUser},
      </if>
      <if test="material.deleteDate != null">
        delete_date = #{material.deleteDate},
      </if>
      <if test="material.itype != null and material.itype != ''">
        itype = #{material.itype},
      </if>
      <if test="material.u8MoMaterialId != null">
        u8_mo_material_id = #{material.u8MoMaterialId},
      </if>
      <if test="material.rowNo != null">
        row_no = #{material.rowNo},
      </if>
      <if test="material.productInvStd != null and material.productInvStd != ''">
        product_inv_std = #{material.productInvStd},
      </if>
      <if test="material.productInvUnit != null and material.productInvUnit != ''">
        product_inv_unit = #{material.productInvUnit},
      </if>
      <if test="material.productInvCode != null and material.productInvCode != ''">
        product_inv_code = #{material.productInvCode},
      </if>
      <if test="material.productInvName != null and material.productInvName != ''">
        product_inv_name = #{material.productInvName},
      </if>
      <if test="material.partInvName != null and material.partInvName != ''">
        part_inv_name = #{material.partInvName},
      </if>
      <if test="material.partInvCode != null and material.partInvCode != ''">
        part_inv_code = #{material.partInvCode},
      </if>
      <if test="material.partQty != null">
        part_qty = #{material.partQty},
      </if>
      <if test="material.partInvStd != null and material.partInvStd != ''">
        part_inv_std = #{material.partInvStd},
      </if>
      <if test="material.partInvUnit != null and material.partInvUnit != ''">
        part_inv_unit = #{material.partInvUnit},
      </if>
      <if test="material.invStd != null and material.invStd != ''">
        inv_std = #{material.invStd},
      </if>
      <if test="material.invUnit != null and material.invUnit != ''">
        inv_unit = #{material.invUnit},
      </if>
      <if test="material.productQty != null and material.productQty != ''">
        product_qty = #{material.productQty},
      </if>
      <if test="material.recordId != null and material.recordId != ''">
        record_id = #{material.recordId},
      </if>
      <if test="material.partRowId != null and material.partRowId != ''">
        part_row_id = #{material.partRowId},
      </if>
    </set>
    where id = #{material.id}
  </update>
</mapper>