<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.sa.mapper.SoDetailsMapper">
  <resultMap id="BaseResultMap" type="com.web.sa.entity.SoDetails">
    <!--@mbg.generated-->
    <!--@Table SO_SODetails-->
    <id column="AutoID" jdbcType="INTEGER" property="autoid" />
    <result column="cSOCode" jdbcType="VARCHAR" property="csocode" />
    <result column="cInvCode" jdbcType="VARCHAR" property="cinvcode" />
    <result column="dPreDate" jdbcType="TIMESTAMP" property="dpredate" />
    <result column="iQuantity" jdbcType="DECIMAL" property="iquantity" />
    <result column="iNum" jdbcType="DECIMAL" property="inum" />
    <result column="iQuotedPrice" jdbcType="DECIMAL" property="iquotedprice" />
    <result column="iUnitPrice" jdbcType="DECIMAL" property="iunitprice" />
    <result column="iTaxUnitPrice" jdbcType="DECIMAL" property="itaxunitprice" />
    <result column="iMoney" jdbcType="OTHER" property="imoney" />
    <result column="iTax" jdbcType="OTHER" property="itax" />
    <result column="iSum" jdbcType="OTHER" property="isum" />
    <result column="iDisCount" jdbcType="OTHER" property="idiscount" />
    <result column="iNatUnitPrice" jdbcType="DECIMAL" property="inatunitprice" />
    <result column="iNatMoney" jdbcType="OTHER" property="inatmoney" />
    <result column="iNatTax" jdbcType="OTHER" property="inattax" />
    <result column="iNatSum" jdbcType="OTHER" property="inatsum" />
    <result column="iNatDisCount" jdbcType="OTHER" property="inatdiscount" />
    <result column="iFHNum" jdbcType="DECIMAL" property="ifhnum" />
    <result column="iFHQuantity" jdbcType="DECIMAL" property="ifhquantity" />
    <result column="iFHMoney" jdbcType="OTHER" property="ifhmoney" />
    <result column="iKPQuantity" jdbcType="DECIMAL" property="ikpquantity" />
    <result column="iKPNum" jdbcType="DECIMAL" property="ikpnum" />
    <result column="iKPMoney" jdbcType="OTHER" property="ikpmoney" />
    <result column="cMemo" jdbcType="VARCHAR" property="cmemo" />
    <result column="cFree1" jdbcType="VARCHAR" property="cfree1" />
    <result column="cFree2" jdbcType="VARCHAR" property="cfree2" />
    <result column="bFH" jdbcType="INTEGER" property="bfh" />
    <result column="iSOsID" jdbcType="INTEGER" property="isosid" />
    <result column="KL" jdbcType="DECIMAL" property="kl" />
    <result column="KL2" jdbcType="DECIMAL" property="kl2" />
    <result column="cInvName" jdbcType="VARCHAR" property="cinvname" />
    <result column="iTaxRate" jdbcType="DECIMAL" property="itaxrate" />
    <result column="cDefine22" jdbcType="VARCHAR" property="cdefine22" />
    <result column="cDefine23" jdbcType="VARCHAR" property="cdefine23" />
    <result column="cDefine24" jdbcType="VARCHAR" property="cdefine24" />
    <result column="cDefine25" jdbcType="VARCHAR" property="cdefine25" />
    <result column="cDefine26" jdbcType="FLOAT" property="cdefine26" />
    <result column="cDefine27" jdbcType="FLOAT" property="cdefine27" />
    <result column="cItemCode" jdbcType="VARCHAR" property="citemcode" />
    <result column="cItem_class" jdbcType="VARCHAR" property="citemClass" />
    <result column="cItemName" jdbcType="VARCHAR" property="citemname" />
    <result column="cItem_CName" jdbcType="VARCHAR" property="citemCname" />
    <result column="cFree3" jdbcType="VARCHAR" property="cfree3" />
    <result column="cFree4" jdbcType="VARCHAR" property="cfree4" />
    <result column="cFree5" jdbcType="VARCHAR" property="cfree5" />
    <result column="cFree6" jdbcType="VARCHAR" property="cfree6" />
    <result column="cFree7" jdbcType="VARCHAR" property="cfree7" />
    <result column="cFree8" jdbcType="VARCHAR" property="cfree8" />
    <result column="cFree9" jdbcType="VARCHAR" property="cfree9" />
    <result column="cFree10" jdbcType="VARCHAR" property="cfree10" />
    <result column="iInvExchRate" jdbcType="DECIMAL" property="iinvexchrate" />
    <result column="cUnitID" jdbcType="VARCHAR" property="cunitid" />
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="cDefine28" jdbcType="VARCHAR" property="cdefine28" />
    <result column="cDefine29" jdbcType="VARCHAR" property="cdefine29" />
    <result column="cDefine30" jdbcType="VARCHAR" property="cdefine30" />
    <result column="cDefine31" jdbcType="VARCHAR" property="cdefine31" />
    <result column="cDefine32" jdbcType="VARCHAR" property="cdefine32" />
    <result column="cDefine33" jdbcType="VARCHAR" property="cdefine33" />
    <result column="cDefine34" jdbcType="INTEGER" property="cdefine34" />
    <result column="cDefine35" jdbcType="INTEGER" property="cdefine35" />
    <result column="cDefine36" jdbcType="TIMESTAMP" property="cdefine36" />
    <result column="cDefine37" jdbcType="TIMESTAMP" property="cdefine37" />
    <result column="FPurQuan" jdbcType="DECIMAL" property="fpurquan" />
    <result column="fSaleCost" jdbcType="DECIMAL" property="fsalecost" />
    <result column="fSalePrice" jdbcType="DECIMAL" property="fsaleprice" />
    <result column="cQuoCode" jdbcType="VARCHAR" property="cquocode" />
    <result column="iQuoID" jdbcType="INTEGER" property="iquoid" />
    <result column="cSCloser" jdbcType="VARCHAR" property="cscloser" />
    <result column="dPreMoDate" jdbcType="TIMESTAMP" property="dpremodate" />
    <result column="iRowNo" jdbcType="INTEGER" property="irowno" />
    <result column="iCusBomID" jdbcType="INTEGER" property="icusbomid" />
    <result column="iMoQuantity" jdbcType="DECIMAL" property="imoquantity" />
    <result column="cContractID" jdbcType="VARCHAR" property="ccontractid" />
    <result column="cContractTagCode" jdbcType="VARCHAR" property="ccontracttagcode" />
    <result column="cContractRowGuid" jdbcType="OTHER" property="ccontractrowguid" />
    <result column="iPPartSeqID" jdbcType="INTEGER" property="ippartseqid" />
    <result column="iPPartID" jdbcType="INTEGER" property="ippartid" />
    <result column="iPPartQty" jdbcType="DECIMAL" property="ippartqty" />
    <result column="cCusInvCode" jdbcType="VARCHAR" property="ccusinvcode" />
    <result column="cCusInvName" jdbcType="VARCHAR" property="ccusinvname" />
    <result column="iPreKeepQuantity" jdbcType="DECIMAL" property="iprekeepquantity" />
    <result column="iPreKeepNum" jdbcType="DECIMAL" property="iprekeepnum" />
    <result column="iPreKeepTotQuantity" jdbcType="DECIMAL" property="iprekeeptotquantity" />
    <result column="iPreKeepTotNum" jdbcType="DECIMAL" property="iprekeeptotnum" />
    <result column="dreleasedate" jdbcType="TIMESTAMP" property="dreleasedate" />
    <result column="fcusminprice" jdbcType="DECIMAL" property="fcusminprice" />
    <result column="fimquantity" jdbcType="DECIMAL" property="fimquantity" />
    <result column="fomquantity" jdbcType="DECIMAL" property="fomquantity" />
    <result column="ballpurchase" jdbcType="BIT" property="ballpurchase" />
    <result column="finquantity" jdbcType="DECIMAL" property="finquantity" />
    <result column="icostquantity" jdbcType="DECIMAL" property="icostquantity" />
    <result column="icostsum" jdbcType="OTHER" property="icostsum" />
    <result column="foutquantity" jdbcType="DECIMAL" property="foutquantity" />
    <result column="foutnum" jdbcType="DECIMAL" property="foutnum" />
    <result column="iexchsum" jdbcType="OTHER" property="iexchsum" />
    <result column="imoneysum" jdbcType="OTHER" property="imoneysum" />
    <result column="dufts" jdbcType="TIMESTAMP" property="dufts" />
    <result column="iaoids" jdbcType="INTEGER" property="iaoids" />
    <result column="cpreordercode" jdbcType="VARCHAR" property="cpreordercode" />
    <result column="fretquantity" jdbcType="DECIMAL" property="fretquantity" />
    <result column="fretnum" jdbcType="DECIMAL" property="fretnum" />
    <result column="dbclosedate" jdbcType="TIMESTAMP" property="dbclosedate" />
    <result column="dbclosesystime" jdbcType="TIMESTAMP" property="dbclosesystime" />
    <result column="bOrderBOM" jdbcType="BIT" property="borderbom" />
    <result column="bOrderBOMOver" jdbcType="TINYINT" property="borderbomover" />
    <result column="idemandtype" jdbcType="SMALLINT" property="idemandtype" />
    <result column="cdemandcode" jdbcType="VARCHAR" property="cdemandcode" />
    <result column="cdemandmemo" jdbcType="VARCHAR" property="cdemandmemo" />
    <result column="fPurSum" jdbcType="DECIMAL" property="fpursum" />
    <result column="fPurBillQty" jdbcType="DECIMAL" property="fpurbillqty" />
    <result column="fPurBillSum" jdbcType="DECIMAL" property="fpurbillsum" />
    <result column="iimid" jdbcType="BIGINT" property="iimid" />
    <result column="ccorvouchtype" jdbcType="VARCHAR" property="ccorvouchtype" />
    <result column="icorrowno" jdbcType="INTEGER" property="icorrowno" />
    <result column="busecusbom" jdbcType="BIT" property="busecusbom" />
    <result column="body_outid" jdbcType="OTHER" property="bodyOutid" />
    <result column="fVeriDispQty" jdbcType="DECIMAL" property="fveridispqty" />
    <result column="fVeriDispSum" jdbcType="OTHER" property="fveridispsum" />
    <result column="bsaleprice" jdbcType="BIT" property="bsaleprice" />
    <result column="bgift" jdbcType="BIT" property="bgift" />
    <result column="forecastdid" jdbcType="INTEGER" property="forecastdid" />
    <result column="cdetailsdemandcode" jdbcType="VARCHAR" property="cdetailsdemandcode" />
    <result column="cdetailsdemandmemo" jdbcType="VARCHAR" property="cdetailsdemandmemo" />
    <result column="fTransedQty" jdbcType="DECIMAL" property="ftransedqty" />
    <result column="cbSysBarCode" jdbcType="VARCHAR" property="cbsysbarcode" />
    <result column="fappqty" jdbcType="DECIMAL" property="fappqty" />
    <result column="cParentCode" jdbcType="VARCHAR" property="cparentcode" />
    <result column="cChildCode" jdbcType="VARCHAR" property="cchildcode" />
    <result column="fchildqty" jdbcType="DECIMAL" property="fchildqty" />
    <result column="fchildrate" jdbcType="DECIMAL" property="fchildrate" />
    <result column="iCalcType" jdbcType="TINYINT" property="icalctype" />
    <result column="iCurPartid" jdbcType="BIGINT" property="icurpartid" />
    <result column="cFactoryCode" jdbcType="VARCHAR" property="cfactorycode" />
    <result column="GCSourceId" jdbcType="INTEGER" property="gcsourceid" />
    <result column="GCSourceIds" jdbcType="INTEGER" property="gcsourceids" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    AutoID, cSOCode, cInvCode, dPreDate, iQuantity, iNum, iQuotedPrice, iUnitPrice, iTaxUnitPrice, 
    iMoney, iTax, iSum, iDisCount, iNatUnitPrice, iNatMoney, iNatTax, iNatSum, iNatDisCount, 
    iFHNum, iFHQuantity, iFHMoney, iKPQuantity, iKPNum, iKPMoney, cMemo, cFree1, cFree2, 
    bFH, iSOsID, KL, KL2, cInvName, iTaxRate, cDefine22, cDefine23, cDefine24, cDefine25, 
    cDefine26, cDefine27, cItemCode, cItem_class, cItemName, cItem_CName, cFree3, cFree4, 
    cFree5, cFree6, cFree7, cFree8, cFree9, cFree10, iInvExchRate, cUnitID, ID, cDefine28, 
    cDefine29, cDefine30, cDefine31, cDefine32, cDefine33, cDefine34, cDefine35, cDefine36, 
    cDefine37, FPurQuan, fSaleCost, fSalePrice, cQuoCode, iQuoID, cSCloser, dPreMoDate, 
    iRowNo, iCusBomID, iMoQuantity, cContractID, cContractTagCode, cContractRowGuid, 
    iPPartSeqID, iPPartID, iPPartQty, cCusInvCode, cCusInvName, iPreKeepQuantity, iPreKeepNum, 
    iPreKeepTotQuantity, iPreKeepTotNum, dreleasedate, fcusminprice, fimquantity, fomquantity, 
    ballpurchase, finquantity, icostquantity, icostsum, foutquantity, foutnum, iexchsum, 
    imoneysum, dufts, iaoids, cpreordercode, fretquantity, fretnum, dbclosedate, dbclosesystime, 
    bOrderBOM, bOrderBOMOver, idemandtype, cdemandcode, cdemandmemo, fPurSum, fPurBillQty, 
    fPurBillSum, iimid, ccorvouchtype, icorrowno, busecusbom, body_outid, fVeriDispQty, 
    fVeriDispSum, bsaleprice, bgift, forecastdid, cdetailsdemandcode, cdetailsdemandmemo, 
    fTransedQty, cbSysBarCode, fappqty, cParentCode, cChildCode, fchildqty, fchildrate, 
    iCalcType, iCurPartid, cFactoryCode, GCSourceId, GCSourceIds
  </sql>

  <update id="updateRate" parameterType="com.web.sa.entity.SoDetails">
    Update SO_SODetails set fchildrate=fchildqty/(select sum(fchildqty) from SO_SODetails t where  t.cChildCode=SO_SODetails.cChildCode)
    where cChildCode=#{main.cchildcode,jdbcType=VARCHAR}

  </update>
</mapper>